
.header-container {
    position: relative;
    text-align: center;
}

.title-asia {
    color: white;
    font-family: "MS Mincho";
    font-size: 4rem;
    position: absolute;
    top: 50%; 
    left: 645px; 
    transform: translate(-50%, -50%);
}

.header-image {
    object-fit: cover;
    width: 100%;
    height: 40vh;
    filter: brightness(50%); 
}

/*article format*/

.article-container {
    display: flex;
    justify-content: space-around; 
}

.article {
    background-color: #FBF8F1;
}

.main-article {
    width: 70vw; 
    padding: 20px 60px 0 400px; 
    font-size: 1.17rem;
    font-family: 'Helvetica';
}

/*side bar menu*/
.side-bar-menu {
    height: 100%; 
    width: 15vw; 
    position: sticky;  
    right : 0vw; 
    top: 0vh; 
    padding-top: 20px;
    background-color: inherit;
}

.side-bar-items-list {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 5px; 
    padding-left: 0px;
    list-style-type: none;
}


.section-ref-container {
    width: 100%;
}

.section-ref-item {
    height: 44px;
    width: 100%;
    border: none; 
    text-align: start;
    text-indent: 4px;
    font-size: 1rem;
    font-weight: 600; 
    background-color: inherit;
}

.section-ref-item:hover {
    border-left: 4px solid #212121;
}

.selected {
    color: white;
    background-color: #212121;
}

/*sections*/
.section-list {
    list-style-type: none;
    padding: 0; 
}

.subtitle {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.publish-date {
    display: block;
    margin-bottom: 10px;
    text-align: end;
}

/* paragraphs BBB17B*/
.paragraph-list {
    list-style-type: none;
    padding: 0;
}


